{% extends 'base.html.twig' %}

{% block title %}Mon compte - Malky Project{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue {{app.user.firstname}} dans votre compte
    <hr>
    - <a href="{{ path('account_password') }}"> Modifier mon mot de passe <a><br>
    - <a href=""> Ajouter une adresse <a><br>
    - <a href=""> Mes commandes <a><br>
{% endblock %}
