{% extends 'base.html.twig' %}

{% block title %}Mon compte - Malky Project{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	<hr>
	- <a href="{{ path('account') }}"> Retourner à mon compte <a><br>
	<hr>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	<hr>
	{{ form(form) }}
	<hr>
{% endblock %}

